@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(199, 199, 199);
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: rgb(199, 199, 199);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-weight: 300;
  font-size: 4em;
} 

li{
  color: rgb(199, 199, 199);
}

#pConstantColor{
  color: rgb(199, 199, 199);
}